.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  height: 100%;
  position: relative;
}

.grid-fade {
  position: relative;
  overflow: hidden;
}

.grid-fade::before {
  --size: 27px;
  --line: rgba(0, 0, 0, 0.03);
  --fade-start: 80%;
  --fade-end: 100%;

  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(to right, var(--line) 1px, transparent 1px) 0 0 /
      var(--size) var(--size),
    linear-gradient(to bottom, var(--line) 1px, transparent 1px) 0 0 /
      var(--size) var(--size);

  transition: mask-image 0.2s ease;
}
